<%= render 'layouts/navbar' %>

<h2> Désolé y a pas de CSS :( </h2>
<hr></hr>
<h2> Fonctionnement du site : </h2>
<ul>
  <li> Vous devez vous inscrire (en haut à droite, sign up) pour acceder aux fonctions du site
  <li> Une fois connectés, vous aurez la possibilité de créer un évènement (la fonction s'affiche automatiquement dans la navbar)
  <li> La liste des évenements crées s'affiche dans "all event"
  <li> Si vous avez créer l'evenement, vous aurez la possibilité de l'éditer, ou le supprimer
  <li> Sinon, vous pourrez juste l'afficher en utilisant la fonction "show"
  <li> Dans l'onglet "events attended" vous êtes sensés trouver les évenements enregistrés
  <li> <b> Je n'ai pas réussi à trouver un moyen de s'inscrire à l'event, encore !
  <li> En revanche, j'ai créer la fonction qui n'affiche que les évenements enregistrés.. reste plus qu'a faire le lien
  <li> Déconnectez vous avec login / logout
  <li> Du love <3
</ul>

<iframe width="640" height="360" src="https://www.youtube.com/embed/S2lgnitdPdc?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
